* { box-sizing: border-box; }

html, body {
	font-family: 'Source Sans Pro', sans-serif;

	margin: 0;

	background: #737373;
}

.header-image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 1;

	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.header-text {
	position: absolute;
	font-size: 12pt;
	margin: 0 0 0 50px;
	z-index: 2;
	color: #c1c1c1;
}
.header-text h1 {
	display: inline;
}

.nav {
	display: inline;
	z-index: 2;
	padding-left: 50px;
	margin: 0;
}
	.nav a {
		text-decoration: none;
		color: #c1c1c1;
		font-size: 16pt;
		font-weight: normal;
		padding: 15px;
	}
	.nav a:hover {
		color: #737373;
	}